/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-1,
.section-2 {
    display: flex;
    padding: 30px;

}

.section-2 {
    justify-content: center;

}

.special {
    padding: 10px;
}

.footer {
    padding-bottom: 0%;
}

section>div {
    border: 1px dashed black;
}

/*-------------------
    GRID LAYOUT
-------------------*/

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.row {
    background-color: #daa520;


}

.row15 {
    width: 15%;

}

.row70 {
    width: 70%;
    text-align: center;
}

.box {
    width: 80%;
    min-height: 400px;
    background-color: #ee82ee;
}

.box-70 {
    width: 70%;
    min-height: 490px;
    background-color: #1e90ff;
}

.box-30 {
    width: 30%;
    min-height: 490px;
    background-color: #ffc0cb;

}

.box-100 {
    width: 100%;
    min-height: 890px;
    background-color: #228b22;

}

.box-20 {
    width: 20%;
    min-height: 570px;
    background-color: #f08080;
}

.box-80 {
    width: 80%;
    min-height: 570px;
    background-color: #20b2aa;
    display: flex;
}

.box-25 {
    width: 25%;
}

.last {
    min-height: 45px;
    background-color: #7fffd4;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.mini-box {
    background-color: #ffb6c1;
    border: 1px dashed black;
}



/*-------------------
    HEADER
-------------------*/
.bg-sh1 {
    background-color: #add8e6;
}


.bg-sh2 {
    background-color: #00008b;
}


/*-------------------
    MAIN
-------------------*/
.bg-sm {
    background-color: #d3d3d3;
}

/*-------------------
    footer
-------------------*/
.bg-sf {
    background-color: #23272a;

}

.close {
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}

.sky {
    background-color: #20b2aa;
    border: 1px dashed white;

}